<launch>
    <node pkg="captain" type="captain_runner.py" name="captain" />
    <node pkg="airmar" type="airmar_runner.py" name="airmar" />
	<node pkg="navigator" type="navigator_runner.py" name="navigator" />
    <node pkg="tactics" type="tactics_runner.py" name="tactics" />
    <node pkg="speed_calculator" type="speed_calculator_runner.py" name="speed_calculator" />
</launch>
